{% extends "layout.html" %}
{% block content %}
    <form method=post action="" enctype=multipart/form-data>
    {% if filename != None %}
    <div class="container">
      <form method=post action="">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="stat_func">FastStat Tools</label>
          </div>
          <select name="stat_func" id="stat_func" class="form-select">
            <option hidden>Choose a tool...</option>
            <option value="Statistical Info">Basic Statistics</option>
            <option value="Normality Tests">Normality Tests</option>
            <option value="Null Hypothesis Tests">Null Hypothesis Tests</option>
            <option value="One-way ANOVA">One-way ANOVA</option>
            <option value="Two-way ANOVA">Two-way ANOVA</option>
          </select>
        </div>
	<button class="btn btn-outline-secondary" type="submit">Select</button>
      </form>
    </div>
    {% endif %}
    </form>
    <br/>
    <br/>
    <div class="container">
      <form method=post action="/reset">
	<button class="btn btn-danger" type="submit" name="reset" value="Reset">Reset</button>
      </form>
    </div>
{% endblock content %}
