{% extends "layout.html" %}
{% block content %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">FastStat Tools: {{ stat_func }}</label>
      </div>
    </div>

    Sample parameters:

    {% if parms|length == 0 %}
        <form method=post action="">
          <div class="container">
            <div class="panel panel-default">
              <div class="panel-heading">Dataset:</div>
              <div class="panel-body">
                <div class="input-group mb-3">
                  <select name="parm_a" id="parm_a" class="custom-select">
                    {% for id in range(0, parm_names|length) %}
                      <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                    {% endfor %}
                  </select>
                  <select name="parm_b" id="parm_b" class="custom-select">
                    {% for id in range(0, parm_names|length) %}
                      <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <button class="btn btn-outline-secondary" type="submit" value="parms" name="parms">Select</button>
          </div>
        </form>
    {% else %}
      {% if statready == false %}
        <form method=post action=""> 
          <div class="container">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text">{{ parms[0] }}, {{ parms[1] }}</label>
              </div>
            </div>
            <div class="input-group mb-3">
              <select name="value_a">
                {% for id in range(0, parm_values[0]|length) %}
                  <option value="{{ parm_values[0][id] }}">{{ parm_values[0][id] }}</option>
                {% endfor %}
              </select>
              <select name="value_b">
                {% for id in range(0, parm_values[1]|length) %}
                  <option value="{{ parm_values[1][id] }}">{{ parm_values[1][id] }}</option>
                {% endfor %}
              </select>
	    </div>
            <button class="btn btn-outline-secondary" type="submit" name="values" value="values">Select</button>
          </div>
        </form>
      {% else %}
      <form method=post action="">
        <div class="container">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text">{{ parms[0] }}: {{ values[0] }}, {{ parms[1] }}: {{ values[1] }}</label>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Statistical property:</div>
            <div class="panel-body">
              <div class="input-group mb-3">
                <select name="statproperty">
                  {% for id in range(0, parm_names|length) %}
                    <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                  {% endfor %}
                </select>
	      </div>
	      <button class="btn btn-outline-secondary" type="submit" name="getproperty" value="getproperty">Compute</button></button>
            </div>
          </div>
	</div>
      </form>

      {% endif %}
    {% endif %}
    <br/>
    <br/>

    <div class="container">
      <form method=post action="/reset">
	<button class="btn btn-danger" type="submit" name="reset" value="Reset">Reset</button>
      </form>
    </div>
 
    <td valign="top">
    {% if result != None %}
        <p>
        {{ result|safe }}
        </p>
        {% if not current_user.is_anonymous %}
            <h3>Comments:</h3>
            <form method="post" action="/add_comment">
                <textarea name="comments" rows="4" cols="40"></textarea>
		<br/><br/>
		<button class="btn btn-outline-secondary" type="submit" name="addcomment" value="addcomment">Add comment</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock content %}
