{% extends "layout.html" %}
{% block content %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">FastStat Tools: {{ stat_func }}</label>
      </div>
    </div>

    Sample parameters:

    {% if parms|length == 0 %}
      <div class="outer-container">
        <form method=post action="">
          <div class="container">
            <div class="panel panel-default">
              <div class="panel-heading">Dataset 1:</div>
              <div class="panel-body">
                <select name="parm_1a" id="parm_1a" class="custom-select">
                  {% for id in range(0, parm_names|length) %}
                    <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                  {% endfor %}
                </select>
                <select name="parm_1b" id="parm_1b" class="custom-select">
                  {% for id in range(0, parm_names|length) %}
                    <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="panel panel-default">
              <div class="panel-heading">Dataset 2:</div>
              <div class="panel-body">
                <select name="parm_2a" id="parm_2a" class="custom-select">
                  {% for id in range(0, parm_names|length) %}
                    <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                  {% endfor %}
                </select>
                <select name="parm_2b" id="parm_2b" class="custom-select">
                  {% for id in range(0, parm_names|length) %}
                    <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
	  </div>
          <button class="btn btn-outline-secondary" type="submit" value=parms" name="parms">Select</button>
        </form>
      </div>
    {% else %}
      {% if statready == false %}
      <div class="outer-container">
        <form method=post action="">
          <div class="container">
            <div class="panel panel-default">
              <div class="panel-heading">Dataset 1:</div>
              <div class="panel-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">{{ parms[0] }}, {{ parms[1] }}</label>
                  </div>
                  <select name="value_1a">
                    {% for id in range(0, parm_values[0]|length) %}
                      <option value="{{ parm_values[0][id] }}">{{ parm_values[0][id] }}</option>
                    {% endfor %}
                  </select>
                  <select name="value_1b">
                    {% for id in range(0, parm_values[1]|length) %}
                      <option value="{{ parm_values[1][id] }}">{{ parm_values[1][id] }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="panel panel-default">
              <div class="panel-heading">Dataset 2:</div>
              <div class="panel-body">
                <div class="input-group mb-3">   
                  <div class="input-group-prepend">  
                    <label class="input-group-text">{{ parms[2] }}, {{ parms[3] }}</label>
                  </div>
                  <select name="value_2a">
                    {% for id in range(0, parm_values[2]|length) %}
                      <option value="{{ parm_values[2][id] }}">{{ parm_values[2][id] }}</option>
                    {% endfor %}
                  </select>
                  <select name="value_2b">
                    {% for id in range(0, parm_values[3]|length) %}
                      <option value="{{ parm_values[3][id] }}">{{ parm_values[3][id] }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
	  </div>
	  <button class="btn btn-outline-secondary" type="submit" name="values" value="values">Setup Samples</button>
          </form>
	</div>
      {% else %}
      <form method=post action="">
        <div class="container">
          <div class="panel panel-default">
            <div class="panel-heading">Dataset 1:</div>
            <div class="panel-body">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text">{{ parms[0] }}: {{ values[0] }}, {{ parms[1] }}: {{ values[1] }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="container">
          <div class="panel panel-default">
            <div class="panel-heading">Dataset 2:</div>
              <div class="panel-body">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text">{{ parms[2] }}: {{ values[2] }}, {{ parms[3] }}: {{ values[3] }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>        


        <div class="container">
          <div class="panel panel-default">
            <div class="panel-heading">Statistical property:</div>
            <div class="panel-body">
              <div class="input-group mb-3">
                <select name="statproperty">
                  {% for id in range(0, parm_names|length) %}
                    <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                  {% endfor %}
                </select>
	      </div>
            </div>
          </div>
          <button class="btn btn-outline-secondary" type="submit" name="getproperty" value="getproperty">Compute</button>
        </div>
      </form>
      {% endif %}
    {% endif %}

    <div class="container">
      <form method=post action="/reset">
	<button class="btn btn-danger" type="submit" name="reset" value="Reset">Reset</button>
      </form>
    </div>

    {% if result != None %}
        <p>
        {{ result|safe }}
        </p>
        {% if not current_user.is_anonymous %}
            <h3>Comments:</h3>
            <form method="post" action="/add_comment">
                <textarea name="comments" rows="4" cols="40"></textarea>
		<br/><br/>
               <button class="btn btn-outline-secondary" type="submit" name="addcomment" value="Add">Add comment</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock content %}
