<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>FastStat app</title>
    <link rel="stylesheet" href="static/basic.css" type="text/css">
  </head>
  <body>

<!-- <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
     equationNumbers: {  autoNumber: "AMS"  },
     extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
  }
});
</script>
<script type="text/javascript" src=
"http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script> -->

{% if user.is_anonymous %}
  <p align="right"><a href="/login">Login</a>
  / <a href="/reg">Register</a></p>
{% else %}
  <p align="right">Logged in as {{user.username}}<br>
    <a href="/old">Previous simulations<a/><br>
    <a href="/logout">Logout</a></p>
{% endif %}

<h1>FastStat: a tool to perform fast statistical analysis.</h1>
<p>
<!-- Input and Results are typeset as a two-column table -->
<table>
<tr>
<td valign="top">
<h2>Input:</h2>

<p>
Tools:
<select name="stat_func" style="width: 250px;">
    <option value="{{ stat_func }}">{{ stat_func }}</option>
</select>
</p>

Sample parameters:

{% if parms|length == 0 %}
    <form method=post action="">
        <select name="parmA">
            {% for id in range(0, parm_names|length) %}
                <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
            {% endfor %}
        </select>
        <select name="parmB">
            {% for id in range(0, parm_names|length) %}
                <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="parms" value="Select">
    </form>
{% elif statready == false %}
    <form method=post action="">
        <select name="parmA">
            <option value="{{ parms[0] }}">{{ parms[0] }}</option>
        </select>
        <select name="parmB">
            <option value="{{ parms[1] }}">{{ parms[1] }}</option>
        </select>
        <br/>
        <select name="valueA">
            {% for id in range(0, parm_values[0]|length) %}
                <option value="{{ parm_values[0][id] }}">{{ parm_values[0][id] }}</option>
            {% endfor %}
        </select>
        <select name="valueB">
            {% for id in range(0, parm_values[1]|length) %}
                <option value="{{ parm_values[1][id] }}">{{ parm_values[1][id] }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="values" value="Setup Samples">
    </form>
{% elif statready == true %}
    <br/>
    <select name="parmA">
        <option value="{{ parms[0] }}">{{ parms[0] }}</option>
    </select>
    <select name="parmB">
        <option value="{{ parms[1] }}">{{ parms[1] }}</option>
    </select>
    <br/>
    <select name="valueA">
        <option value="{{ values[0] }}">{{ values[0] }}</option>
    </select>
    <select name="valueB">
        <option value="{{ values[1] }}">{{ values[1] }}</option><br/>
    </select>
    <br/>

<p>Statistical property:</p>
    <form method=post action="">
        <select name="statproperty">
            {% for id in range(0, parm_names|length) %}
                <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="getproperty" value="Compute">
    </form>
{% endif %}
<br/>
<br/>
    <form method=post action="">
        <input type="submit" name="reset" value="Reset">
    </form>
</td>
</p>

 
<td valign="top">
{% if result != None %}
<p>
{{ result|safe }}
</p>
    {% if not user.is_anonymous %}
      <h3>Comments:</h3>
      <form method="post" action="/add_comment">
          <textarea name="comments" rows="4" cols="40"></textarea>
          <p><input type="submit" value="Add">
      </form>
      {% endif %}
{% endif %}
</td></tr>
</table>
</body>
</html>

