{% extends "layout.html" %}
{% block analysis %}
    <p>
    Tools:
    <select name="stat_func" style="width: 250px;">
        <option value="{{ stat_func }}">{{ stat_func }}</option>
    </select>
    </p>

    Sample parameters:

    {% if parms|length == 0 %}
        <form method=post action="">
            <p> Dataset 1: </p>
            <select name="parm1A">
                {% for id in range(0, parm_names|length) %}
                    <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                {% endfor %}
            </select>
            <select name="parm1B">
                {% for id in range(0, parm_names|length) %}
                    <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                {% endfor %}
            </select>
            <br/>
            <p> Dataset 2: </p>
            <select name="parm2A">
                {% for id in range(0, parm_names|length) %}
                    <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                {% endfor %}
            </select>
            <select name="parm2B">
                {% for id in range(0, parm_names|length) %}
                    <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
                {% endfor %}
            </select>

            <input type="submit" name="parms" value="Select">
        </form>
    {% elif statready == false %}
        <form method=post action="">
            <p> Dataset 1: </p>
            <select name="parm1A">
                <option value="{{ parms[0] }}">{{ parms[0] }}</option>
            </select>
            <select name="parm1B">
                <option value="{{ parms[1] }}">{{ parms[1] }}</option>
            </select>
            <br/>
            <select name="value1A">
                {% for id in range(0, parm_values[0]|length) %}
                    <option value="{{ parm_values[0][id] }}">{{ parm_values[0][id] }}</option>
                {% endfor %}
            </select>
            <select name="value1B">
                {% for id in range(0, parm_values[1]|length) %}
                    <option value="{{ parm_values[1][id] }}">{{ parm_values[1][id] }}</option>
                {% endfor %}
            </select>
            <br/>
            <p> Dataset 2: </p>
            <select name="parm2A">
                <option value="{{ parms[2] }}">{{ parms[2] }}</option>
            </select>
            <select name="parm2B">
                <option value="{{ parms[3] }}">{{ parms[3] }}</option>
            </select>
            <br/>
            <select name="value2A">
                {% for id in range(0, parm_values[2]|length) %}
                    <option value="{{ parm_values[2][id] }}">{{ parm_values[2][id] }}</option>
                {% endfor %}
            </select>
            <select name="value2B">
                {% for id in range(0, parm_values[3]|length) %}
                    <option value="{{ parm_values[3][id] }}">{{ parm_values[3][id] }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="values" value="Setup Samples">
        </form>
    {% elif statready == true %}
        <!--br/-->
        <form method=post action="">
        <p> Dataset 1: </p>
        <select name="parm1A">
            <option value="{{ parms[0] }}">{{ parms[0] }}</option>
        </select>
        <select name="parm1B">
            <option value="{{ parms[1] }}">{{ parms[1] }}</option>
        </select>
        <br/>
        <select name="value1A">
            <option value="{{ values[0] }}">{{ values[0] }}</option>
        </select>
        <select name="value1B">
            <option value="{{ values[1] }}">{{ values[1] }}</option><br/>
        </select>
        <br/>
        <p> Dataset 2: </p>
        <select name="parm2A">
            <option value="{{ parms[2] }}">{{ parms[2] }}</option>
        </select>
        <select name="parm2B">
            <option value="{{ parms[3] }}">{{ parms[3] }}</option>
        </select>
        <br/>
        <select name="value2A">
            <option value="{{ values[2] }}">{{ values[2] }}</option>
        </select>
        <select name="value2B">
            <option value="{{ values[3] }}">{{ values[3] }}</option><br/>
        </select>
        <br/>

        <p> Statistical property: </p>
        <!--form method=post action=""-->
        <select name="statproperty">
        {% for id in range(0, parm_names|length) %}
            <option value="{{ parm_names[id] }}">{{ parm_names[id] }}</option>
        {% endfor %}
        </select>
        <input type="submit" name="getproperty" value="Compute">
        </form>
    {% endif %}
    <br/>
    <br/>
    <form method=post action="">
        <input type="submit" name="reset" value="Reset">
    </form>


    </td>
    </p>


 

    <td valign="top">
    {% if result != None %}
        <p>
        {{ result|safe }}
        </p>
        {% if not user.is_anonymous %}
            <h3>Comments:</h3>
            <form method="post" action="/add_comment">
                <textarea name="comments" rows="4" cols="40"></textarea>
                <p><input type="submit" value="Add">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
