{% extends "layout.html" %}
{% block analysis %}
    <form method=post action="" enctype=multipart/form-data>
    <table>
        {% for field in form %}
            <tr>
            <td>{{ field.label }}</td>
            <td>{{ field(size=20) }}</td>
            <td>
            {% if field.errors %}
                <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}</ul>
            {% endif %}
            </td></tr>
        {% endfor %}
    </table>
    <p>
    <input type="submit" value="Upload">
    </p>
    </form>
    </td>

    <td valign="top">
    <h2>Results:</h2>
    {% if result != None %}
        <p>{{ result|safe }}</p>
        {% if plot != None %}
            <img src="data:image/png;base64,{{ plot }}" width="500">
        {% endif %}
        {% if not user.is_anonymous %}
            <h3>Comments:</h3>
            <form method="post" action="/add_comment">
            <textarea name="comments" rows="4" cols="40"></textarea>
            <p><input type="submit" value="Add">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
